doctype html
html(lang="en")
    head
        link(rel="stylesheet", href="/static/styles.css")
        title Error
    body 
        .error-404
            h1 404 This page does not exist
            a(href="/") Home Page