extends layout.pug 

block content
    .container 
        h1.motto Mindtube - place where minds meet 
        p.ack This web application was created to fulﬁll Web Technology module’s requirements and does not represent an actual company or service
        a.btn-home(href="/create") START